<div class="row">

  <div class="center-block well" style="max-width: 400px">
    <h2><%= t('page.devise.forget_password') %></h2>

    <%= devise_error_messages! %>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>

          <% if @minimum_password_length %>
            <div class="help-block">
              <%= t('page.devise.password_minimum_length', length: @minimum_password_length) %>
            </div>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit t('page.devise.reset_password'), class: 'btn btn-primary' %>

          <div class="pull-right">
            <%= link_to t('page.devise.back_to_sign_in'), new_user_session_path, class: 'btn btn-default' %>
          </div>

        </div>

        <hr>

    <% end %>
  </div>

</div>